body {
    background-color: rgb(30,30,35);
    overflow: hidden;
}

#logo {
    position: absolute;
    top: 7.5%;
    left: 2%;
    transform: translate(-0%,-50%);
    width: 10vw;
}

#search-label {
    position: absolute;
    top: 15%;
    left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(225,225,225);
}

.label {
    position: absolute;
    left: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(225,225,225);
}

.searchbar {
    position: absolute;
    left: 27.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(225,225,225);
    background-color: rgb(30,30,35);
    border: 2px solid rgb(100,100,100);
    border-radius: 5px;
    width: 20%;
    height: 7.5%;
    font-size: 20px;
}

@keyframes animation {
    0% {
        border-color: rgb(100,100,100);
        background-color: rgb(30,30,35);
    }

    100% {
        border-color: rgb(120,120,120);
        background-color: rgb(35,35,40);
    }
}

.searchbar:focus {
    outline: none;
    animation-name: animation;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    border-color: rgb(120,120,120);
    background-color: rgb(35,35,40);
}

#button {
    position: absolute;
    top: 90.5%;
    left: 2%;
    transform: translate(-0%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(20,20,22);
    background-color: rgb(125,125,225);
    border: 2px solid rgb(20,20,22);
    border-radius: 100px;
    width: 13.5vw;
    height: 7vh;
}

@keyframes button-animation {
    0% {
        border-color: rgb(20,20,22);
        background-color: rgb(125,125,225);
    }

    100% {
        border-color: rgb(40,40,42);
        background-color: rgb(135,135,255);
    }
}

#google-search {
    position: absolute;
    top: 3%;
    left: 95%;
    width: 8vw;
    height: 3.25vh;
    transform: translate(-50%,-50%);
    background-color: rgb(30,30,35);
    border: 1px solid rgb(100,100,100);
    color: rgb(225,225,225);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

#button:hover {
    cursor: pointer;
    animation-name: button-animation;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    border-color: rgb(40,40,42);
    background-color: rgb(135,135,255);
}

#google-search:hover {
    cursor: pointer;
    animation-name: animation;
    animation-duration: 250ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    border-color: rgb(120,120,120);
    background-color: rgb(35,35,40);
}
